!!!
%html
  %head
    /
      \==============================================
      Title and Meta Tags
      \===============================================
    %meta{charset: "utf-8"}/
    %title Assign It To Us
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    /
    
      \==============================================
      Favicons
      \===============================================
    %link{href: "/assets/favicon16x16.ico", rel: "shortcut icon"}/
    %link{href: "/assets/AppleIcon60x60.png", rel: "apple-touch-icon"}/
    %link{href: "/assets/AppleIcon76x76.png", rel: "apple-touch-icon", sizes: "76x76"}/
    %link{href: "/assets/AppleIcon114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/
    /
   
      \==============================================
      CSS
      \===============================================

    %link{href: "/stylesheets/font-awesome.css", rel: "stylesheet"}
    %link{href: "/stylesheets/aitu.css", rel: "stylesheet"}
    %link{href: 'http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css', rel: 'stylesheet' }
    /

      \==============================================
      Fonts
      \===============================================
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    /

      \==============================================
      JS
      \===============================================



    %script{src: "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{src: "http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"}
    


      \==============================================
      MAIN NAV
      \===============================================
  %body
    == {{ content }}
    :javascript
      function scrollToAnchor(aid){
              var aTag = $("a[name='"+ aid +"']");
              $('html,body').animate({scrollTop: aTag.offset().top},'slow');
      }    
      $(document).ready(function () {
      
      
      
         $('a.tip').each(function() {
             $(this).qtip({
                 content: {
                     text: $(this).next('.tooltiptext')
                 },
                 style: {
                  classes: 'qtip-bootstrap'
                 },
                 position: {
                  viewport: $(window),
                  adjust: { screen: true }
                 },
                 show: {
                  event: 'click mouseenter'
                 }
                 
             });
         });      
         
          $("a").click(function() {
            var anchor_href = $(this).attr('href')
            if (anchor_href != null) {
              if (anchor_href.substring(0,1) == '#') {
                var href = $(this).attr('href').replace('#', '');
                scrollToAnchor(href);

              }
            }
          });           
       
         
      });
      
