!!!
%html
  %head
    %title 
      == {{ page.title }}
    

   
    %link{:href => "/stylesheets/bootstrap.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/app.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{src: "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{src: "/javascripts/sugar.min.js"}
    %script{src: "/javascripts/bootstrap/transition.js"}    
    %script{src: "/javascripts/bootstrap/collapse.js"}
    %script{src: "/javascripts/bootstrap/tooltip.js"}
    %script{src: "/javascripts/bootstrap/popover.js"}        
    %script{src: "/javascripts/bootstrap/modal.js"}
  %body.page
    %div
      %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} Assign It To Us
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class:  '{% if page.tab == "what_we_do" %}active{% endif %}'}
              %a{href: "/what_we_do"} What We Do
                                        

        / /.navbar-collapse              
                                      
      #content
        == {{ content }}
      #page-footer
        .row
          .col-md-6 
            :markdown
              #### Our History
              
              Formed in 2012, Assign It To Us Technologies Inc. was founded by Vince Iarusci and Steven Ng, two technology professionals who spent several years working together in the field of business intelligence. Steven and Vince use their combined 40 ( 21 vince + 19 steven) years of business and technology experience to build data solutions that give their clients better insights into their businesses. 
              
          .col-md-3 
            :markdown
              #### Contact Us
              
              * phone
              * email
              * etc
           
          .col-md-3
            :markdown
              We are currently Available for service engagements    
              We Are currently not hiring 
                            
    :javascript
      $(document).ready(function() {
            $('.popper').popover(
        {
        html: true,
        trigger: 'hover',
        placement: 'auto'
        
        }
        );
        $('.popper').click(function(e) { e.preventDefault(); })
      });

        

