!!!
%html
  %head
    %title 
      == {{ page.title }}
    

   
    %link{:href => "/stylesheets/bootstrap.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/app.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %script{src: "http://code.jquery.com/jquery-1.9.1.min.js"}
  %body.page
    %div
      %nav.navbar.navbar-default{role: "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "#"} Assign It To Us
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: '{% if page.tab == "home" %}uiactive{% endif %}'}
              %a{href: "/"} Home
            %li{class:  '{% if page.tab == "solutions" %}active{% endif %}'}
              %a{href: "/solutions"} Solutions
            %li{class: '{% if page.tab == "products" %}active{% endif %}'}
              %a{href: "/products"} Products
            %li{class: '{% if page.tab == "services" %}active{% endif %}'}
              %a{href: "/services"} Services
            %li{class: '{% if page.tab == "about" %}active{% endif %}'}
              %a{href: "/about"} About                                          

        / /.navbar-collapse              
                                      
      %div{'data-role' => 'content'}
        == {{ content }}
      %div#page-footer{'data-role' => 'footer'}        
        :markdown
          Footer content goes here
          


