!!!
%html
  %head
    /
      \==============================================
      Title and Meta Tags
      \===============================================
    %meta{charset: "utf-8"}/
    %title Assign It To Us
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    /
    
      \==============================================
      Favicons
      \===============================================
    %link{href: "/assets/favicon16x16.ico", rel: "shortcut icon"}/
    %link{href: "/assets/AppleIcon60x60.png", rel: "apple-touch-icon"}/
    %link{href: "/assets/AppleIcon76x76.png", rel: "apple-touch-icon", sizes: "76x76"}/
    %link{href: "/assets/AppleIcon114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/
    /
   
      \==============================================
      CSS
      \===============================================
    %link{href: "/stylesheets/bootstrap.css", rel: "stylesheet"}/
    %link{href: "/stylesheets/font-awesome.css", rel: "stylesheet"}/
    %link{href: "/stylesheets/flexslider.css", rel: "stylesheet"}/
    %link#main{href: "/stylesheets/aitu-blue.css", rel: "stylesheet"}/
    /

      \==============================================
      Fonts
      \===============================================
    %link{href: "http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic", rel: "stylesheet", type: "text/css"}/
    /

      \==============================================
      JS
      \===============================================
    /[if lt IE 9]
      <script src="/javascripts/respond.min.js"></script>
    %script{src: "/javascripts/bootstrap/modernizr.min.js", type: "text/javascript"}
  %body{"data-offset" => "400", "data-spy" => "scroll", "data-target" => "#main-nav"}
    / === BACKGROUND ===
    #backgrounds{"data-backgrounds" => "/assets/back_img_1.jpg,/assets/back_img_2.jpg,/assets/back_img_3.jpg"}
    #color-overlay
    /
    
      \==============================================
      SCRIPTS
      \===============================================
    %script{src: "http://code.jquery.com/jquery-1.9.1.min.js"}
    :javascript
      window.jQuery || document.write('<script src="/javascripts/bootstrap/jquery-1.8.2.min.js">\x3C/script>')
    %script{src: "/javascripts/bootstrap/bootstrap.min.js"}
    %script{src: "/javascripts/bootstrap/jquery.scrollto.js"}
    %script{src: "/javascripts/bootstrap/jquery.flexslider.min.js"}
    %script{src: "/javascripts/bootstrap/twitterFetcher_v10_min.js"}
    %script{src: "/javascripts/bootstrap/jquery.fitvids.js"}
    %script{src: "/javascripts/bootstrap/jquery.masonry.min.js"}
    %script{src: "/javascripts/bootstrap/waypoints.min.js"}
    %script{src: "/javascripts/bootstrap/jquery.backstretch.min.js"}
    %script{src: "/javascripts/bootstrap/contact.js"}
    %script{src: "/javascripts/bootstrap/shapes.js"}
    %script{src: "/javascripts/sugar.min.js"}
    %script{src: "/javascripts/bootstrap/transition.js"}    
    %script{src: "/javascripts/bootstrap/collapse.js"}
    %script{src: "/javascripts/bootstrap/tooltip.js"}
    %script{src: "/javascripts/bootstrap/popover.js"}        
    %script{src: "/javascripts/bootstrap/modal.js"}

      \==============================================
      MAIN NAV
      \===============================================
  %body.page
    %div
      #main-nav.navbar.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => "#site-nav", "data-toggle" => "collapse", type: "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            / ======= LOGO ========
            <a class="navbar-brand scrollto ir-logo" href="#home">Assign It To Us</a>
            %a.navbar-brand.scrollto{href: "#home"} Assign It To Us

          #site-nav.navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              %li.sr-only
                %a.scrollto{href: "#home"} Home
              %li
                %a.scrollto{href: "#services"} Who We Are
              %li
                %a.scrollto{href: "#portfolio"} What We Do
              %li
                %a.scrollto{href: "#about"} About
              %li
                %a.scrollto{href: "#contact"} Contact
                                        

        / /.navbar-collapse              
                                      
      #content
        == {{ content }}
      %footer#main-footer
        .container
          .row
            .col-sm-6.left-col
              %p
                %span Assign It To Us
                \Copyright 2013 / All Rights Reserved
            .col-sm-6.right-col
              %ul.footer-nav
                %li
                  %a.scrollto{href: "#home"} Home
                %li
                  %a.scrollto{href: "#services"} Who We Are
                %li
                  %a.scrollto{href: "#portfolio"} What We Do
                %li
                  %a.scrollto{href: "#about"} About
                %li
                  %a.scrollto{href: "#contact"} Contact

                            
    :javascript
      $(document).ready(function() {
            $('.popper').popover(
        {
        html: true,
        trigger: 'hover',
        placement: 'auto'
        
        }
        );
        $('.popper').click(function(e) { e.preventDefault(); })
      });

        

