---
layout: main
tab: home
title: Assign It To Us - Home
---

%div
  .annotation.s
    :markdown
      This page should answer the three most common things people are coming to the site for.
    
      Steven's guesses for why people would come to our site:
      
      1. They are wondering who we are. They = competitors, prospects, friends and former colleagues
      1. They are looking for contact information. They = same as above + spammers + and people who want to sell us crap + headhunters
      1. They are looking for a BI solution or consulting
      1. They are looking for help with Cognos
      

%div.hero-block
  <!-- hero block, this is where the "who are we?" primary value statement is -->
  
  %h1 We help companies make better decisions.
  
  %h3 Our solutions turn raw business data into insightful information.

.annotation.s
  :markdown
    The goal of the hero block above is to summarize what we do in two pithy, jargon-free sentences.

%hr  

    
    
  :markdown

    <!-- masthead -->
    
    <!-- Vince -->
    
    Carousel of teaser questions
    
    **Need someone to help you make sense of your growing mountain of business data?**
    **Are you mired in spreadsheet sprawl and need a better way of getting a consistent perspective of your operations?**
    **Do you need help building a business intelligence solution without breaking the bank on license fees?**
    
    ...Assign it to Us!
    
    **Tired of hearing the same old buzzword bingo from your vendors when all you want are dashboards and reports? We can help.**

    ## Better information = Better decisions. We?ll handle the information part.

    


    **Need someone to help you make sense of your growing mountain of business data?**
    
    **Are you mired in spreadsheet sprawl and need a better way of getting a consistent perspective of your operations?**
    
    **Do you need help building a business intelligence solution without breaking the bank on license fees?**
    
    ####...Assign it to Us!
    
    **Tired of hearing the same old buzzword bingo from your vendors when all you want are dashboards and reports?** 
    
    ####...We can help.
    
    ## Better information = Better decisions. We'll handle the information part.

    
    ---

.annotation.v
  :markdown
    This is a test of the Vince annotation style


