---
layout: main
tab: home
title: Assign It To Us - Home
---
%div
  :markdown
    # Home
    <!-- masthead -->
    ## We are a full-stack, full-service provider of business analytics solutions.

    Some supporting text here.

    ## We are good with numbers. Really good, in fact.
    
    <!-- Vince -->
    
    Carousel of teaser questions
    
    **Need someone to help you make sense of your growing mountain of business data?**
    **Are you mired in spreadsheet sprawl and need a better way of getting a consistent perspective of your operations?**
    **Do you need help building a business intelligence solution without breaking the bank on license fees?**
    
    ...Assign it to Us!
    
    **Tired of hearing the same old buzzword bingo from your vendors when all you want are dashboards and reports? We can help.**

    ## Better information = Better decisions. We’ll handle the information part.

    

    ## If you can't tweak it, build it.
    
    We've spent a good part of the last decade customizing large enterprise solutions for businesses of all sizes. 
    
    In many cases, making a piece of enterprise software jump through the hoops it needs to is like stuffing a square block into a round hole.

    **Need someone to help you make sense of your growing mountain of business data?**
    
    **Are you mired in spreadsheet sprawl and need a better way of getting a consistent perspective of your operations?**
    
    **Do you need help building a business intelligence solution without breaking the bank on license fees?**
    
    ####...Assign it to Us!
    
    **Tired of hearing the same old buzzword bingo from your vendors when all you want are dashboards and reports?** 
    
    ####...We can help.
    
    ## Better information = Better decisions. We'll handle the information part.

    
    ---
    
    <!-- Steven -->
    
    <!-- hero block -->
    
    # We are a full-stack, full-service provider of business analytics solutions.    
    
    <!-- end hero block -->
    
    <!-- sell point 1 -->
    ## We are good with numbers. Really good, in fact.
    
    Our bread and butter is in data warehousing and reporting.   We've spent a good part of the last decade delivering and customizing large 
    enterprise solutions for businesses of all sizes. Much of that time was spent pushing IBM Cognos products to their limits. But we're not 
    just Cognos guys. We're technology agnostic, and huge fans of open source software. We also write code.
    
    If you choose to go with a custom solution with us, you get a data warehouse from the get go. Instead of using some meta-tool like a 
    "framework manager" and having to tweak it to make it give you the proper results quickly, we do direct transformation of your data in 
    a data warehouse. This is faster, more maintainable, and more reliable. It's also cheaper to develop, believe it or not.

    After spending years of working with uncompromising enterprise software designed to sell instead of perform, we wanted to stop muttering 
    under our breath "I could write this from scratch faster than I could using this tool".
    
    A good portion of our competitors tend to only know the tools they sell, and they're usually hammers. When you're a hammer, everything 
    looks like a nail. In the real world, however, there's a saying "just because you can doesn't mean you should". Making a software tool 
    do something that is not one of its core competencies is like ramming a square block into a round hole. You can do it with a lot of work, 
    but it's usually not a sustainable long term solution.

    <!-- sell point 2 -->
    ## We work smart, and eat our own dogfood.

    Many of our competitors like to tell you about their methodologies and best practices in hopes that you'll think that there's 
    a direct relationship to quality. Sadly, there isn't. More often than not, the people delivering your solution don't follow 
    the methodologies that were sold to you in your vetting cycle. 
    
    Our way of working is pretty simple. We design, we prototype, we iterate and we automate.
    
    What about documentation and testing? Well, as we said, we like to work smart. For our non-Cognos projects, we have automated 
    documentation built from our code. For testing, we design and automate tests where appropriate. 
    
    What about managing estimates and project scope? After years of failing to find an off-the-shelf solution to our project management 
    needs, we created our own. 
    
    *some more text about aitm*
        
    <!-- sell point 3 -->
    ## We care about your money.
 
    Okay, we admit it. We care about money. We watch our money with an eagle eye, and we think you should too. 
    
    We won't lowball our estimates to win your business in hopes that we'll make the money back in overages. We don't give you overblown 
    fixed price estimates for small amounts of work. Yes, we charge for our time, but our estimates, which sometimes seem large at first, 
    are reasonable and based off decades of experience delivering services. We are extremely transparent in the way we execute projects, 
    and you will know about any cost impacts, negative or positive, as soon as we know them.
    
    While we'll gladly help you deploy an expensive Cognos business intelligence solution, we can also build you a custom solution for 
    much less money. Using established, industrial open-source tools, we can free you from the burden of huge up-front license costs as 
    well as annual maintenance costs. If you want paid support for the tools we use, most of our toolchain providers have this as an option.
 
    For the same services costs that you'd pay with a major business intelligence solution, we can usually build you a custom solution that 
    is specifically tailored to the needs of your business. When you factor the costs of licenses and maintenance that you'd avoid, it can 
    easily be tens to hundreds of thousands of dollars. That's not chump change.






