---
layout: main
tab: home
title: Assign It To Us - Home
---
.annotation.s
  :markdown
  
    Instead of linking to pages, perhaps the links below (i.e. "know-how", "reporting solution") pop up a modal with some content instead.
    
    This would allow us to merge Solutions, Products, Services and maybe even About into a single page.
    
    *Vince* - what do you think? (yes/no)


.home-block.bg-wisteria.hero-block
  <!-- hero block, this is where the "who are we?" primary value statement is -->
  
  %h1 We help companies like yours make better decisions.
  
  %h2 Our solutions turn raw business data into insightful information.

.home-block.bg-belize

  %h1 Need help with a Cognos project?
  
  %h2
    %a{:href => '#bizcard', 'data-toggle'=>"modal", 'data-target'=>"#bizcard"} Assign it to us,  
    and we'll use our extensive 
    %a{href: '/services'} know-how
    to help you get where you need to be.


.home-block.bg-peter

  %h1 Looking for a reporting solution?
  %h2
    %a{:href => '#bizcard', 'data-toggle'=>"modal", 'data-target'=>"#bizcard"} Assign it to us, 
    and we'll help you build an open-source 
    %a{href: '/solutions'} reporting solution 
    that will save you a pile of money when
    compared to the other guys.
      

.home-block.bg-nephritis

  %h1 Trying to get a grip on your project costs?
  
  %h2
    We've got a web-based solution for that too. It's called 
    %a{href: '/products'} Assign It To Me.
    We're in private beta right now, but you can 
    %a{href: 'http://www.assignittome.com'} sign up 
    to be notified as soon as we go live.






.hidden
  %div
    .annotation.s
      :markdown
        Note this is using a vanilla install of Jquery mobile. It has not been customized and it may not stay for the final version.
        
    .annotation.s
      :markdown
        This page should answer the three most common things people are coming to the site for.
      
        Steven's guesses for why people would come to our site:
        
        1. They are wondering who we are. They = competitors, prospects, friends and former colleagues
        1. They are looking for contact information. They = same as above + spammers + and people who want to sell us crap + headhunters
        1. They are looking for a BI solution or consulting
        1. They are looking for help with Cognos
        1. They are looking for info on Assign It To Me
        1. They are looking for our "We'll Show You How" screencasts
        
  
  
  
  
  
  %hr  
  
  .annotation.s
    :markdown
      Note that a carousel isn't mobile friendly. Might just want to put the content in-line and have users scroll to read it.
    
  .annotation.s
    :markdown
      Perhaps each teaser question should address the three or four most common things people are coming here for.
      
      My first kick at the can:
      
      1. Someone to help them with Cognos - the supporting text should link to appropriate place on Services page and to the We'll Show You How screencasts page
      2. Someone to help them implement *any* BI solution
      3. ?? Looking for a profitability solution ?? redirect to AITM 
      4. ?? ??
      
  
  
  
      
      ---
    
  :markdown
  
    <!-- masthead -->
    
    <!-- Vince -->
    
    Carousel of teaser questions
    
    **Need someone to help you make sense of your growing mountain of business data?**
    **Are you mired in spreadsheet sprawl and need a better way of getting a consistent perspective of your operations?**
    **Do you need help building a business intelligence solution without breaking the bank on license fees?**
    
    ...Assign it to Us!
    
    **Tired of hearing the same old buzzword bingo from your vendors when all you want are dashboards and reports? We can help.**
  
    **Need someone to help you make sense of your growing mountain of business data?**
    
    **Are you mired in spreadsheet sprawl and need a better way of getting a consistent perspective of your operations?**
    
    **Do you need help building a business intelligence solution without breaking the bank on license fees?**
    
    ####...Assign it to Us!
    
    **Tired of hearing the same old buzzword bingo from your vendors when all you want are dashboards and reports?** 
    
    ####...We can help.
    
    ## Better information = Better decisions. We'll handle the information part.
  
    
    ---
  
  .annotation.v
    :markdown
      This is a test of the Vince annotation style
    
#bizcard.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", 'data-keyboard' => 'true', type: "button"} &times;
        %h4.modal-title Contact Us
      .modal-body
        %p Vince Iarusci
        %p email: vince.iarusci@assignittous.com
        %p phone: 999-999-9999
  

  

    
    
  
