---
layout: main
tab: home
title: Assign It To Me - Home
---
%section
  %h1.center
    Focus on what matters.
  %h2.center
    Spend less time on status reporting and more time making your customers happy.
  #main-carousel.carousel.slide
    .carousel-inner
      .active.item
        %article.slide
          %img.slide-bg-image{:src => "images/features_img_1.jpg"}/
        .slide-content
          %h6.heavy-caps A benefit
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus justo.
          %p
            %a.button{:href => "#"} Read More
      .item
        %article.slide
          %img.slide-bg-image{:src => "images/features_img_2.jpg"}/
        .slide-content
          %h6.heavy-caps Another benefit
          %p
            Hendrerit eleifend condimentum quis, varius at lacus. Donec ultrices justo scelerisque erat feugiat sed mattis justo volutpat.
          %p
            %a.button{:href => "#"} Read More
      .item

        %article.slide
          %a.iframe{:href => ""}
            %img.slide-bg-image{:src => "images/features_img_3.jpg"}/
        .slide-content
          %h6.heavy-caps Another benefit
          %p
            You can link slides to any URL, and even use lightbox to launch popup images/videos/anything. So click the slide and see what happens!
          %p
            %a.button{:href => "#"} Read More
      .item
        %article.slide
          %img.slide-bg-image{:src => "images/features_img_4.jpg"}
        .slide-content
          %h6.heavy-caps Last benefit
          %p
            Fusce porta elit quis nunc mollis ut lacinia eros accumsan. Aenean consequat egestas diam, vel pharetra tellus venenatis in.
          %p
            %a.button{:href => "#"} Read More            


    %a.carousel-control.left{"data-slide" => "prev", :href => "#main-carousel"} &lsaquo;
    %a.carousel-control.right{"data-slide" => "next", :href => "#main-carousel"} &rsaquo;



%h6.heavy-caps What Our Customers Are Saying
.row
  .span3
    %p I’ve saved hours preparing statuses, meeting minutes and progress reports for my team meetings. Assign It To Me organizes our project so that we are all working from the same information. Saving time saves us money which helps us hit our project budgets.
    %h5.testimonial Jane Doe
    %h5.company Company Name
  .span3
    %p Assign It To Me was used for the first time on our last project and we were able to immediately see when we started falling behind our time estimates. We also had control over new scope requirements that were being added by our client so that we could immediately adjust the team’s task list and communicate the adjusted deliveries to the project team and stakeholders. We’ll be using Assign It To Me to manage all our future projects.
    %h5.testimonial Jane Doe
    %h5.company Company Name
  .span3
    %p Assign It To Me is my new way to manage my work.
    %h5.testimonial Jane Doe
    %h5.company Company Name
  .span3
    %p The Project Health analytics monitors our project.  There’s no more guess work involved
    %h5.testimonial Jane Doe
    %h5.company Company Name