---
layout: main
tab: home
title: Assign It To Us - Home
---
%div
  :markdown
    # Home
    <!-- masthead -->
    ## We are a full-stack, full-service provider of business analytics solutions.
    
<<<<<<< HEAD
    ## Better information = Better decisions. We'll handle the information part.
=======

    Some supporting text here.

    ## We are good with numbers. Really good, in fact.
    
    Some supporting text here.

>>>>>>> ff838aa8997a6deeb20645a30dbfe8a5e0e5f7e9
  
    
<<<<<<< HEAD
    **Need someone to help you make sense of your growing mountain of business data?**
    
    **Are you mired in spreadsheet sprawl and need a better way of getting a consistent perspective of your operations?**
    
    **Do you need help building a business intelligence solution without breaking the bank on license fees?**
    
    ####...Assign it to Us!
    
    **Tired of hearing the same old buzzword bingo from your vendors when all you want are dashboards and reports?** 
    
    ####...We can help.
=======
    ## If you can't tweak it, build it.
    
    We've spent a good part of the last decade customizing large enterprise solutions for businesses of all sizes. 
    
    In many cases, making a piece of enterprise software jump through the hoops it needs to is like stuffing a square block into a round hole.
    
    Most of our competitors only know the tools that they sell, and they're usually hammers. What does that mean? Everything looks like a nail.
    
    We're technology agnostic, and we do our utmost to ensure that our customers get the *best* solution for their problems, and if that means we have to write a bit of code, we will.
    
    ## We eat our own dogfood.
    
    Some supporting text here.
  
    ## No Nonsense.
>>>>>>> ff838aa8997a6deeb20645a30dbfe8a5e0e5f7e9

    ---
    
    
    
    Carousel of teaser questions
    
    **Need someone to help you make sense of your growing mountain of business data?
    Are you mired in spreadsheet sprawl and need a better way of getting a consistent perspective of your operations? 
    Do you need help building a business intelligence solution without breaking the bank on license fees?**
    
    ...Assign it to Us!
    
    Tired of hearing the same old buzzword bingo from your vendors when all you want are dashboards and reports? We can help.

    ## Better information = Better decisions. We’ll handle the information part.

    
    ---

    # Products
    
    More often than not, we find existing software solutions to be a little lacking for our business requirements. So what do we do? We roll our own solutions and eat our own dogfood. But we're not selfish types, so as we build our solutions, we design them to be hosted applications that other businesses like us can use also.

    We have a web application called Assign It To Me.

    We also sell Dominus, the engine that powers Assign It To Me. 
       
    
    ### Assign It To Me
    
    Assign It To Me might look like a project management tool on the surface, but it's much deeper than that. In our previous lives, we've had to deal with a hodge podge of applications to handle project management, time keeping and status reporting. And even with those applications, it required even more work to keep an eye on how the company was doing as a whole.
    
    Well, we got tired of the status quo and decided to build a solution from the ground up. Unlike other "project management" solutions, however, we didn't want to build an overglorified to do list. Our background is in analytics. If we're going to build a system, we’re going to use the data from the system to give our users insight.
    
    'Lo and behold, Assign It To Me was born. Currently in alpha, Assign It To Me is an analytics driven tool for services companies. Yes, it helps you run your projects, but it also gives you a bigger picture view and helps you manage the profitability of your consulting shop   

    For more details, visit the [assign it to me site](http://assignittome.com).
    
    ### Dominus    
 
    Dominus is a Ruby-on-Rails plus Postgresql based web application engine. It supports multi-tenant access, and comes with a basic user interface. We sell this as a source-code only product with optional support. We also use it as the basis for any custom web applications for clients.

    ---

    # Services
    
    ## Headline  
    
    ---

    # About
    
    ### Company History
    
    Formed in 2012, Assign It To Us Technologies Inc. was founded by Vince Iarusci and Steven Ng, two technology professionals who spent several years working together in the field of business intelligence. Steven and Vince use their combined 40 ( 21 vince + 19 steven) years of business and technology experience to build data solutions that give their clients better insights into their businesses. 
    
    Steven and Vince have built and deployed solutions across multiple industries including but not limited to manufacturing, health care, education, real estate and automotive. 
    
    Assign It To Us is committed to building thoughtful and carefully considered solutions for our customers. While we have preferred technologies for building our solutions, we are technology agnostic and have no interest in promoting solutions that don't suit our customers' needs.
    
    If you need to make sense of your business data but don't know how, assign it to us, and we'll make sure that you get a solution that's not only effective, but one that's affordable as well.
    
    #### Founders
    
    Vince - 1-2 paragraph bio + photo
    
    [[photo]]
    
    paragraph 1
    
    paragraph 2
    
    [[link to vcard]]
    [Linked-In Profile](http://www.linkedin.com/in/assignittome)
    
    
    Steven 1-2 paragraph bio + photo
    
    [[photo]]
    
    paragraph 1
    
    paragraph 2
    
    [[link to vcard]]
    [Linked-In Profile](http://www.linkedin.com/in/stevenhng)
    
    
    ---

    # Blog
    
    1. Blog
    2. Blog
    3. Podcast
    
    ---

    # Podcast
    
    1. Podcast
    2. Podcast
    3. Podcast
