---
layout: main
tab: home
title: Assign It To Us - Home
---

%header#home.jumbotron
  .container
    %img.img-responsive.img-center.header-logo{alt: "", src: ""}
    .message-box.clearfix
      .first-line
        %p We help companies like yours  make better decisions
            
%section#services.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      %h1.section-centertitle Need help with a Cognos project?
      %p.section-centerdescription.lead Assign it to us, and we'll use our extensive know-how to help you get where you need to be.
    .section-icon
      %i.fa.icon.aitu-icon{"aria-hidden" => "true", "data-icon" => "&#xe600"}
        
    .section-header.scrollimation.fade-up
      %h1.section-centertitle Looking for a reporting solution?
      %p.section-centerdescription.lead Assign it to us, and we'll help you build an open-source reporting solution that will save you a pile of money when compared to the other guys.
    .section-icon
      %i.fa.icon.aitu-icon{"aria-hidden" => "true", "data-icon" => "&#xe600"}          

    .section-header.scrollimation.fade-up
      %h1.section-centertitle Trying to get a grip on your project costs?
      %p.section-centerdescription.lead We've got a web-based solution for that too. It's called Assign It To Me and it will save you a pile of money when compared to the other guys.

%header#home.bg-transparent.cta
  .container
    .message-box.clearfix
      .first-line
        %h1 We are a full-stack, full-service provider of business analytics solutions 

%section#portfolio
  .bg-light

    .container
      .section-header.scrollimation.fade-up
        .section-icon
          %i.fa.fa-bar-chart-o
        %h1.section-title We do Cognos
        %p.section-description.lead
          We've spent a good part of the last decade delivering Cognos solutions for businesses of all sizes in many industries. Much of that time was spent pushing Cognos to its limits.
          %br
          %br
          So why hire us?
          %br
          %br
          A lot of Cognos experts out there are simply that. Experts at Cognos, and not much else.
          %br
          %br
          We're good at Cognos, but not because of our knowledge of Cognos. We're good at Cognos because we also know and understand the technologies that support and surround Cognos.
          %br
          %br
          We know data warehouses and databases. We know that some problems are best solved with raw SQL. We know root cause analysis. We know how to code. And we work smart.
          %br
          %br
          Most importantly, we're more interested in helping you solve your problems than selling you software licenses. If there's a nail that the Cognos hammer can't hit, we probably have a hammer. in our toolbox that can.
          %br
          %br
          Do you need a difference maker on your Cognos project? Contact us now

      .section-header.scrollimation.fade-up
        %h1.section-title Cognos not a fit for you? We can still help.
        %p.section-description.lead
          We're not a one trick pony. If you're looking for a reporting or analytics solution and have found that the commercial alternatives like Cognos just aren't a fit for you, we can still help.
          %br
          %br          
          Don't get us wrong, software like Cognos have their place, but they're designed to be everything to everyone (and are priced appropriately), and that can leave your business out in the cold.
          %br
          %br
          We've designed and built [insert name here] which is a simple but powerful data warehouse, reporting and analysis framework.
          %br
          %br
          Our framework allows you to build only what you need, with no added fluff. It's also better than building from scratch, as our framework's stack is built from proven, open source technologies.
          %br
          %br
          And the best part of our solution, is that your software licenses have zero cost. Yes, you read that right. Zero cost software.
          %br
          %br
          Because you are using open source software, there's no up front cost for the software. There's also no annual maintenance fees. And, if you need to make a software upgrade, there's no charge for that either. If you want to plug in some software pieces that you've already paid for, that's okay too.
          %br
          %br
          You only pay for the services work to build what you need.
          %br
          %br
          [insert name here] is built for companies that need a powerful reporting solution but without the huge costs required to just get a foot in the door.
          %br
          %br
          You only pay for the services work to build what you need.
          %br
          %br
          Check out the [insert name here] site for detailed information, or simply contact us for a demo.

      .section-header.scrollimation.fade-up
        %h1.section-title Struggling to rein in your projects? We've got something for that too.
        %p.section-description.lead
          After years of consulting, we still couldn't find an all encompassing tool to run our projects well. When you're running a consulting business, you need a good grasp of your costs and how well your projects are doing so that you can better serve your customers.
          %br
          %br
          So we took matters into our own hands, and created Assign It To Me. We used our background in analytics to develop a system that gives us a high level snapshot of our projects' health.
          %br
          %br
          Assign it to me is a web-based, mobile friendly tool that helps consulting firms like ours run their projects profitably and successfully.
          %br
          %br
          We put our money where our mouth is, and we use Assign It To Me on all of our engagements.
          %br
          %br
          For more details, visit the Assign It To Me site, or just give us a shout.


    .container
      %p.text-center.scrollimation.scale-in
        %a.btn.btn-theme.btn-lg.scrollto{href: "#contact"} Contact Us


%section.bg-transparent.cta
  .container
    .row
      .col-md-9.cta-message.scrollimation.fade-right
        %p
          %strong Assign It To Me
          We overthink project management so you can focus on what matters.
      .col-md-3.cta-button.scrollimation.fade-left
        %p.text-center
          %a.btn.btn-theme.btn-lg{href: "#link", target: "_blank"}
            %i.fa.fa-bar-chart-o>
            Start Your Free Trial



%section#about.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-users
      %h1.section-title Our History
      %p.section-description.lead Formed in 2012, Assign It To Us Technologies Inc. was founded by Vince Iarusci and Steven Ng, two technology professionals who spent several years working together in the field of business intelligence. Steven and Vince use their combined 40 ( 21 vince + 19 steven) years of business and technology experience to build data solutions that give their clients better insights into their businesses.

%section.bg-transparent.cta
  .container
    .row
      .col-md-9.cta-message.scrollimation.fade-right
        %p
          %strong Varys
          Delivering affordable data solutions for every company of every size.
      .col-md-3.cta-button.scrollimation.fade-left
        %p.text-center
          %a.btn.btn-theme.btn-lg{href: "#link", target: "_blank"}
            %i.fa.fa-laptop>
            Demo Site

%section#contact.padding-bottom.bg-light
  .container
    .section-header.scrollimation.fade-up
      .section-icon
        %i.fa.fa-envelope
      %h1.section-centertitle Contact Us
      %p.section-centerdescription.lead
        If you're ready to start your project, we're here to help you.
        %br

      .contact-info
        .scrollimation.scale-in
          %ul.address
            %li
              %span>
                %i.fa.fa-phone.fa-fw
              (647) 629 - 8986
            %li
              %span
                %i.fa.fa-envelope.fa-fw
              %a{href: "mailto:vince.iarusci@assignittous.com"} vince.iarusci@assignittous.com









  

    
    
  
