---
layout: main
tab: home
title: Assign It To Us - Home
---

.page
  .jumbotron.flat-aitu-blue.text-white
    %img{src: "/assets/aitu_logo.png"}

  .jumbotron.flat-aitu-blue.text-white
    %h2 We are a full-stack, full-service provider of business analytics solutions.
    
    %h2 We help companies like yours make better decisions.
            
  .call-to-action.flat-wisteria.text-white
    %h1 Need help with a Cognos project?
    %p 
      %a{href:"#cognos"}Assign it to us,
      and we'll use our extensive know-how to help you get where you need to be.
  .call-to-action.flat-belize-hole.text-white
    %h1 Looking for a reporting solution?
    %p 
      If Cognos isn't a fit for you, we'll help you build an open-source 
      %a{href:"#rodeo"}reporting solution 
      that will save you a pile of money when compared to the other guys.
  .call-to-action.flat-nephritis.text-white
    %h1 Trying to get a grip on your project costs?
    %p 
      We've got a solution for that too. 
      %a{href:"#aitm"}Assign It To Me,
      the management tool that will reduce project administration so you can focus on project success.



.page
  .detail.flat-wisteria.text-white
    %h1 
      %a{name:'cognos'}We do Cognos
    .p 
      %span We've spent a good part of the last decade delivering Cognos solutions for businesses in 
      %a.tip many industries, 
      .tooltiptext
        %h1 Industries
        %ul.unstyled
          %li Automotive
          %li Education
          %li Food Production
          %li Health Care
          %li Chain Restaurant
          %li Manufacturing
          %li Professional Services          
      %span often pushing Cognos to its limits.
    %p So why hire us?
    %p 
      A lot of Cognos experts out there are simply that. 
      %i Experts at Cognos, and not much else.
    .p 
      %span We're good at Cognos, but not just because of our knowledge of Cognos. We're good at Cognos because we also know and understand the technologies that 
      %a.tip support and surround Cognos.
      .tooltiptext
        %h1 Supporting Technologies
        %ul.unstyled
          %li ETL Tools
          %li Relational Databases
          %li Web APIs
          %li Shell Scripting
          %li Web Development
    .p 
      %span We know data warehouses. We know that some problems are best solved with raw SQL. We know root cause analysis. We know how to 
      %a.tip code. 
      .tooltiptext
        %h1 Languages
        %ul.unstyled
          %li SQL
          %li Visual Basic for Applications
          %li Cognos Script
          %li Javascript / Coffeescript
          %li Ruby
          %li HTML / HAML
          %li CSS / LESS / SASS
          %li PHP
      %span And we 
      %a.tip work smart.
      .tooltiptext      
        %h1 Working Smarter
        %ul.unstyled
          %li Business Requirements
          %li Source Control
          %li Change Management
          %li Root Cause Analysis
          %li Automation
          %li Documentation
    .p 
      %span Most importantly, we're more interested in helping you solve your problems than selling you software licenses. If there's a nail that the Cognos hammer can't hit, we probably have 
      %a.tip a different hammer
      .tooltiptext
        %h1 Tools
        %ul.unstyled
          %li Pentaho (ETL)
          %li Scriptella (ETL)
          %li Chef (Automation)
          %li Ruby on Rails (Custom Web)
   
      %span in our toolbox that can do the job.
    %p 
      Do you need a difference maker on your Cognos project? 
      %a{href:'mailto:info@assignittous.com'} Contact us now.


.page
  .detail.flat-belize-hole.text-white
    %h1
      %a{name:'rodeo'}Cognos not a fit for you? 
    %h1 We can still help.
    %p We're no one trick pony. 
    %p Don't get us wrong, software like Cognos have their place, but they're designed to be everything to everyone, and that can leave your business out in the cold.
    .p 
      %span We've designed and built 
      %a.tip Rodeo, 
      .tooltiptext      
        %p 
          In case you're wondering, Rodeo stands for Reports On Demand, Extensible & Open  
      %span which is a simple but powerful data warehouse, reporting and analysis framework.
    .p 
      %span Our framework allows you to build only what you need, with no added fluff. It's also better than building from scratch, as our stack is built from 
      %a.tip proven, open source technologies.
      .tooltiptext      
        %h1 Stack
        %ul.unstyled
          %li Pentaho (ETL)
          %li Scriptella (ETL)
          %li Chef (Automation)
          %li Ruby on Rails (Custom Web)    
          %li PostgreSQL (RDBMS)  
          %li Linux (OS)  
               
    .p 
      %span And the best part of our solution, is that your software licenses have 
      %a.tip
        %b zero cost.
      .tooltiptext      
        %p 
          Because you are using open source software, there's no up front cost for the software. There are also no annual maintenance or major version upgrade fees.          
      %span Yes, you read that right. You only pay us for the services work to build what you need.
      
    %p Rodeo is built for companies that need a powerful reporting solution but without the huge costs required to just get a foot in the door.
    %p 
      Interested? 
      %a{href:'mailto:info@assignittous.com'} Contact us now.
.page
  .detail.flat-nephritis.text-white
  
    %h1
      %a{name:'aitm'}Struggling to rein in your projects? 
    %h1 We've got something for that too.
    %p In our years of running projects, we were never able to find a project management tool that was well suited to the challenges of running a consulting firm.  
    .p 
      %span Inevitably, the software out there would get some things
      %a.tip right
      .tooltiptext      
        %h1 The Good
        %ul.unstyled
          %li Integrated timesheets
          %li Real time Progress
          %li High Level Project Health
          %li Easy work assignment    
          %li Powerful Reporting & Analytics          
      %span , and other things horribly 
      %a.tip wrong.
      .tooltiptext      
        %h1 The not so Good
        %ul.unstyled
          %li Just another task tool
          %li Separate tools needed for timekeeping
          %li No scope management
          %li Average reports          
    %p In the end, we took matters into our own hands and rolled our  own solution, Assign It To Me.  
    %p Assign It To Me is a web-based, mobile friendly tool that helps consulting firms like ours run projects profitably and successfully.
    %p We relied on our analytics background to develop a system that gives us a snapshot of the health of our projects. We put our money where our mouth is, and we use Assign It To Me on all of our engagements.    
    %p 
      For more details, visit the 
      %a{href:'http://assignittome.com'} Assign It To Me site, 
      or, 
      %a{href:'mailto:info@assignittous.com'} just give us a shout.
  





.page
  .detail.flat-aitu-blue.text-white
    %h1 About Us
    %p Formed in 2012, Assign It To Us Technologies Inc. was founded by Vince Iarusci and Steven Ng, two technology professionals who spent several years working together in the field of business intelligence. 
    %p
      If you're ready to start your project, we're here to help you.
    
  
    .contact-info
      %ul.address{style: "list-style: none; "}
        %li
          %span
            %i.fa.fa-phone.fa-fw
          (647) 629 - 8986
        %li
          %span
            %i.fa.fa-envelope.fa-fw
          %a{href: "mailto:just@assignittous.com"} just@assignittous.com
  
  
  
  
  
  
  
  
  
    
  
      
      
    
