---
layout: main
tab: what_we_do
title: Assign It To Us - What We Do
---

.content-block.bg-wisteria.hero-block  
  %h1 We are a full-stack, full-service provider of business analytics solutions. 



.content-block
  :markdown
    
    ## Our bread and butter is in building reporting solutions.   
    
    In a nutshell: We do Cognos. 
    
    We do also Data Warehouses, ETL and a whole bunch of other things with catchy acronyms too.
    
    We've spent a good part of the last decade delivering and customizing Cognos solutions for businesses of all sizes. 
    Much of that time was spent pushing IBM Cognos products to their limits. 
    
    The things that make us good at Cognos isn't our Cognos knowledge (sorry, IBM, Cognos isn't rocket science.). 
    
    The things that make us good at Cognos is our **other** knowledge.
    
    We know relational databases. We know web programming. We know root cause analysis. We work smart by automating repetitive tasks.
    
    And most importantly, we know Cognos' limitations. To be good at Cognos, it's equally important to know what it **can't** do as well
    as what it can do.
    
    And that, my friend, is why you should hire us over someone with a financial incentive to sell you Cognos. (We don't sell Cognos, we're not an IBM partner either.)
    

  
    ## Cognos too expensive for you? We can help with Varys.
    (replace Varys with solution name)

    We're not just Cognos guys. We also write code.
    
    A good portion of our competitors tend to only know the tools they sell, and they're usually hammers. When you're a hammer, everything 
    looks like a nail. In the real world, however, there's a saying "just because you can doesn't mean you should". Making a software tool 
    do something that is not one of its core competencies is like ramming a square block into a round hole. You can do it with a lot of work, 
    but it's usually not a sustainable long term solution.    

    After spending years of working with uncompromising enterprise software designed to sell instead of perform, we wanted to stop muttering 
    under our breath "I could write this from scratch faster than I could using this tool".

    If you choose to go with a custom solution with us, you get a data warehouse from the get go. Instead of using some meta-tool like a 
    "framework manager" and having to tweak it to make it give you the proper results quickly, we do direct transformation of your data in 
    a data warehouse. This is faster, more maintainable, and more reliable. It's also cheaper to develop, believe it or not.

    *Vince's additions*
    
    Information is like cash, it's an important asset for any company and the more information you have the more valuable your company can be. However, getting the information into usable reports, dashboards and analysis
    can be costly. Current enterprised based software is expensive, sophisticated and too hard to use for the average user. They fall into a quicksand of complexity. 

    ## Assign It To Me PM solution
    
    Assign it to me is a online project management tool that helps teams deliver profitable projects on time and on budget.
    
    Delivering a successful project is the primary focus for project managers and their teams. They should not be wasting valuable time on administrative tasks
    when there is more important work to do. Any administrative tasks should be kept to a minimum and Assign It To Me does that with an easy to use workspace. Project managers
    can see how their project is progressing with integrated status reports and project health dashboards. Team members no longer have to use multiple systems on a project. Task management,
    communication, timekeeping, status reports, scope control and work load are all integrated into one tool.
    
    If you're a project manager who cares about saving money on your projects, Assign It To Me can help.
    
    
    Link to assign it to me landing page.
