---
layout: main
tab: what_we_do
title: Assign It To Us - What We Do
---

.content-block.bg-wisteria.hero-block  
  %h1 We are a full-stack, full-service provider of business analytics solutions. 



.content-block
  .annotation.s
    :markdown
      # Goals for this section
      
      1. ~~Communicate that we do cognos~~
      2. ~~Communicate that we are good at cognos~~
      3. Explain why we are better than our competition
      
  %div
    :markdown
      ## We do Cognos   
      
      We've spent a good part of the last decade delivering and customizing Cognos solutions for 
      businesses of all sizes in a number of industries. 
      Much of that time was spent pushing IBM Cognos products to their limits. 
      
      We do also Data Warehouses, ETL and a whole bunch of other things with catchy acronyms too. 
      
      So why hire us?     
      
      A lot of Cognos experts out there are simply that. Experts at Cognos, and not much else.
      
      The thing is, the hard part of delivering a Cognos solution usually has less to do with what Cognos can do than what it can't do.
      
      What makes us good at Cognos isn't our knowledge of Cognos. What makes us good at Cognos is our knowledge of the technologies that support and surround Cognos.
      
      We know relational databases. We know web programming. We know root cause analysis. We work smart by automating repetitive tasks.
      
      Most importantly, we're more interested in helping you solve your problems than selling you software licenses. If there's a nail that 
      the Cognos hammer can't hit, we probably have a different hammer in our toolbox that will work.

      One more thing...We want to do everything possible to make your services projects successful so for every customer that signs up for our services, we'll
      also sign them up for a free unlimited subscription to our project management app [Assign It To Me](Link to Assign it to me onboarding). Use it to manage
      all you projects forever.


.content-block
  %div.annotation.s
    :markdown
      # Goals for this section
      
      1. Communicate that we do more than cognos
      1. Give a brief info
      1. Link out to the microsite
  :markdown
    ## Cognos not a fit for you? We can still help.
    
    We're not just Cognos guys. We also write code.
    
    A good portion of our competitors tend to only know the tools they sell, and they're usually hammers. When you're a hammer, everything 
    looks like a nail. In the real world, however, there's a saying "just because you can doesn't mean you should". Making a software tool 
    do something that is not one of its core competencies is like ramming a square block into a round hole. You can do it with a lot of work, 
    but it's usually not a sustainable long term solution.    

    After spending years of working with uncompromising enterprise software designed to sell instead of perform, we wanted to stop muttering 
    under our breath "I could write this from scratch faster than I could using this tool".

    If you choose to go with a custom solution with us, you get a data warehouse from the get go. Instead of using some meta-tool like a 
    "framework manager" and having to tweak it to make it give you the proper results quickly, we do direct transformation of your data in 
    a data warehouse. This is faster, more maintainable, and more reliable. It's also cheaper to develop, believe it or not. We use advanced licence free wherever possible
    which eliminates software costs.

    Every project needs a good management tool and we think you shouldn't pay for that software either. Signing up for Varys also gets you a free unlimited 
    subscription to [Assign It To Me](Link to Assign it to me onboarding). You'll find it useful for this project as well as any other project you have on the go.
    We've even created a project template in AITM that outlines all the steps to get Varys from A to B.

    *Vince's additions*
    
    Information is like cash, it's an important asset for any company and the more information you have the more valuable your company can be. However, getting the information into usable reports, dashboards and analysis
    can be costly. Current enterprised based software is expensive, sophisticated and too hard to use for the average user. They fall into a quicksand of complexity. 

.content-block
  %div.annotation.s
    :markdown
      # Goals for this section
      
      1. Explain that we have a SAAS product
      2. Explain that we use it ourselves
      3. Offer it to free for our services and solutions customers?
  :markdown
    ## Assign It To Me PM solution
    
    Assign it to me is a online project management tool that helps teams deliver profitable projects on time and on budget.
    
    We found that there was no tool available that did what we wanted to do so we created our own. We created a web based software as a service app that solves all the problems that other tools could not.
    
    
    Delivering a successful project is the primary focus for project managers and their teams. They should not be wasting valuable time on administrative tasks
    when there is more important work to do. Any administrative tasks should be kept to a minimum and Assign It To Me does that with an easy to use workspace. Project managers
    can see how their project is progressing with integrated status reports and project health dashboards. Team members no longer have to use multiple systems on a project. Task management,
    communication, timekeeping, status reports, scope control and work load are all integrated into one tool.
    
    If you're a project manager who cares about saving money on your projects, Assign It To Me can help.
    
    
    Link to assign it to me landing page.
