---
layout: main
tab: what_we_do
title: Assign It To Us - What We Do
---

.content-block.bg-wisteria.hero-block  
  %h1 We are a full-stack, full-service provider of business analytics solutions. 

.content-block

  %h2 We do Cognos   
    
  %p 
    We've spent a good part of the last decade delivering Cognos solutions for businesses of all sizes in 
    %a.popper{href: '#',
      'data-original-title' => 'Industries',
      'data-content' => '<ul><li>Automotive<li>Education<li>Health Care<li>Manufacturing</ul>'} 
      many industries. 
    Much of that time was spent pushing Cognos to its limits. 
  %p So why hire us?     
    
  %p A lot of Cognos experts out there are simply that. <i>Experts at Cognos, and not much else</i>.
    
  %p The thing is, the hard part about a Cognos project has less to do with what Cognos can do than what it <b>can't</b> do.
    
  %p We're good at Cognos, but isn't because of our knowledge of Cognos. We're good at Cognos because we also know and understand the technologies that support and surround Cognos.
    
  %p
    We know data warehouses and 
    
    %a.popper{href: '#',
      'data-original-title' => 'Databases',
      'data-content' => '<ul><li>PostgreSQL<li>MySQL<li>Microsoft SQL Server<li>Oracle<li>DB2<li>AS400<li>MongoDB<li>Lotus Domino</ul>'} databases.    
    We know that some problems are best solved with 
    %a.popper{href: '#',
      'data-original-title' => 'Industries',
      'data-content' => '<ul><li>Automotive<li>Education<li>Health Care<li>Manufacturing</ul>'} raw SQL.

    We know 
    %a.popper{href: '#',
      'data-original-title' => 'Root Cause Analysis',
      'data-content' => '<ul><li>Automotive<li>Education<li>Health Care<li>Manufacturing</ul>'} root cause analysis. 
    We know how to 
    %a.popper{href: '#',
      'data-original-title' => 'Languages',
      'data-content' => '<ul><li>Javascript<li>Visual Basic<li>Visual Basic for Applications<li>Coffeescript<li>SQL<li>Ruby etc.</ul>'} code.    
    
    And we 
    %a.popper{href: '#',
      'data-original-title' => 'Working Smart',
      'data-content' => '<ul><li>Javascript<li>Visual Basic<li>Visual Basic for Applications<li>Coffeescript<li>SQL<li>Ruby etc.</ul>'} work smart.    

    
  %p
    Most importantly, we're more interested in helping you solve your problems than selling you software licenses. If there's a nail that 
    the Cognos hammer can't hit, we probably have 
    %a.popper{href: '#',
      'data-original-title' => 'Other Tools',
      'data-content' => 'Some verbiage about open source tools here.'} a hammer.    
    in our toolbox that can.

  %p 
    Do you need a difference maker on your Cognos product? [Contact us now.](#)
    
    



.content-block
  %h2 Cognos not a fit for you? We can still help.
  %p We're not just Cognos guys. We also write code.
  %p We've designed and built Varys which is a simple but powerful data warehouse, reporting and analysis solution.
  %p
    In the real world, there's a saying "just because you can doesn't mean you should". We've found that making a software tool
    do something that is not one of its core competencies is like ramming a square block into a round hole. You can do it with a lot of work,
    but it's usually not a sustainable long term solution.
  %p
    After spending years of working with uncompromising enterprise software designed to sell instead of perform, we wanted to stop muttering
    under our breath "I could write this from scratch faster than I could using this tool".
  %p
    Varys is for companies that want a powerful enterprise decision system without the enterprise price. It's for companies that don't have the
    in-house skills to develop, support and train employees to use the overly sophisticated software sold by the mega BI companies.
  %p
    If you choose to go with a custom solution with us, you get a data warehouse from the get go. Instead of using some meta-tool like a
    "framework manager" and having to continually tweak it to make it give you the proper results quickly, we do direct transformation of your data in
    a data warehouse. This is faster, more maintainable, and more reliable. It's also cheaper to develop, believe it or not. We use advanced licence free
    software wherever possible which minimizes your implementation costs.
  %p
    To learn more about Varys, visit the
    %a{href: "http://assignittome.com"} Varys
    site.
  %p
    Every Varys implementation also needs a good project management tool and we think you shouldn't pay for that software either. Signing up for Varys also gets you a free unlimited
    subscription to
    = succeed "." do
      %a{href: "http://assignittome.com"} Assign It To Me
.content-block
  %h2 Assign It To Me PM solution
  %p Assign it to me is a online management tool that helps teams deliver profitable projects on time and on budget.
  %p
    Assign It To Me might look like a project management tool on the surface, but it's much deeper than that. In our previous lives, we've had to deal with
    a hodge podge of applications to handle project management, time keeping and status reporting. And even with those applications, it required even more work to
    keep an eye on how the company was doing as a whole. Well, we got tired of the status quo and decided to build a solution from the ground up. Unlike other
    "project management" solutions, however, we didn't want to build an overglorified to do list. Our background is in analytics. If we're going to build a system,
    we're going to use the data from the system to give our users insight.
  %p
    Assign It To Me was born. Currently in alpha, Assign It To Me is an analytics driven tool for services companies. Yes, it helps you run your projects,
    but it also gives you a bigger picture view and helps you manage the profitability of your consulting shop.
  %p
    We all know that delivering a successful project is the primary focus for project managers and their teams. They should not be wasting valuable time on administrative tasks
    when there is more important work to do.
  %p
    All managers are aware that administrative tasks should be kept to a minimum and Assign It To Me does that with an easy to use workspace. Project managers can see how their project is progressing with
    integrated status reports and project health dashboards. Team members no longer have to use multiple systems on a project. Task management, communication,
    timekeeping, status reports, scope control and work load are all integrated into one tool.
  %p If you're a project manager who cares about saving money on your projects, Assign It To Me can help.
  %p
    For more details, visit the
    %a{href: "http://assignittome.com"} Assign It To Me
    site.
  %p
    One more thing. We want to do everything possible to make your services projects successful. For every customer that signs up for our services, we'll
    also sign them up for a free one-year subscription for X project managers to our project management app
    %a{href: "http://assignittome.com"} Assign It To Me
    (that's a ## savings). Use it to manage
    all you projects forever.