---
layout: main
tab: what_we_do
title: Assign It To Us - What We Do
---

.content-block.bg-wisteria.hero-block  
  %h1 We are a full-stack, full-service provider of business analytics solutions. 


.content-block
  .annotation.s
    :markdown
      # Goals for this section (delete when this section is considered complete)
      
      1. Communicate that we do cognos -- accomplished by the headline
      2. Communicate that we are good at cognos - accomplished by paragraphs 1, 5, 6
      3. Explain why we are better than our competition -- accomplished by paragraphs  3, 4, 5, 7
      4. Call to action (contact us) -- accomplished by last paragraph
      
  %h2 We do Cognos   
    
  %p 
    We've spent a good part of the last decade delivering Cognos solutions for businesses of all sizes in 
    %a.popper{href: '#',
      'data-original-title' => 'Industries',
      'data-content' => '<ul><li>Automotive<li>Education<li>Health Care<li>Manufacturing</ul>'} 
      many industries. 
    Much of that time was spent pushing Cognos to its limits. 
  %p So why hire us?     
    
  %p A lot of Cognos experts out there are simply that. <i>Experts at Cognos, and not much else</i>.
    
  %p In the real world, the hard part about a Cognos project has less to do with what Cognos can do than what it <b>can't</b> do.
    
  %p We're good at Cognos, but not because of our knowledge of Cognos. We're good at Cognos because we also <i>know and understand the technologies that support and surround Cognos</i>.
    
  %p
    We know data warehouses and 
    
    %a.popper{href: '#',
      'data-original-title' => 'Databases',
      'data-content' => '<ul><li>PostgreSQL<li>MySQL<li>Microsoft SQL Server<li>Oracle<li>DB2<li>AS400<li>MongoDB<li>Lotus Domino</ul>'} databases.    
    We know that some problems are best solved with 
    %a.popper{href: '#',
      'data-original-title' => 'Industries',
      'data-content' => '<ul><li>Automotive<li>Education<li>Health Care<li>Manufacturing</ul>'} raw SQL.

    We know 
    %a.popper{href: '#',
      'data-original-title' => 'Root Cause Analysis',
      'data-content' => '<ul><li>Automotive<li>Education<li>Health Care<li>Manufacturing</ul>'} root cause analysis. 
    We know how to 
    %a.popper{href: '#',
      'data-original-title' => 'Languages',
      'data-content' => '<ul><li>Javascript<li>Visual Basic<li>Visual Basic for Applications<li>Coffeescript<li>SQL<li>Ruby etc.</ul>'} code.    
    
    And we 
    %a.popper{href: '#',
      'data-original-title' => 'Working Smart',
      'data-content' => '<ul><li>Javascript<li>Visual Basic<li>Visual Basic for Applications<li>Coffeescript<li>SQL<li>Ruby etc.</ul>'} work smart.    

    
  %p
    Most importantly, we're more interested in helping you solve your problems than selling you software licenses. If there's a nail that 
    the Cognos hammer can't hit, we probably have 
    %a.popper{href: '#',
      'data-original-title' => 'Other Tools',
      'data-content' => 'Some verbiage about open source tools here.'} a hammer.    
    in our toolbox that can.

  %p 
    Do you need a difference maker on your Cognos project? 
    %a.popper{href: '#'}
      Contact us now
    
    



.content-block
  .annotation.s
    :markdown
      # Goals for this section (delete when this section is considered complete)
      
      1. Let visitor know that we do more than Cognos -- addressed by header
      1. Explain that we have a solution that can be used instead of Cognos -- paragraphs 1,2,3, 4 -- cut down?
      1. Briefly explain why we built it and what immediate advantages it offers (cost and customizability?) -- paragraphs 5, 6, 7, 8, 9, 10 -- cut down?
      1. Call to action -- last paragraph
    

    
    
  %h2 Cognos not a fit for you? We can still help.
  
  %p 
    Thankfully,   
    %a.popper{href: '#',
      'data-original-title' => 'Things We Can Do',
      'data-content' => '<ul><li>Data Warehousing<li>ETL<li>Custom Web Applications<li>Custom Analytics Solutions</ul>'} we're not a one trick pony.

    If you're looking for a reporting or analytics solution and have found that the commercial alternatives like Cognos 
    just aren't a fit for you, <b>we can still help</b>.
  
  %p
    Don't get us wrong, software like Cognos have their place, but they're designed to be everything to everyone (and are priced appropriately), and 
    that can leave your business out in the cold.

  %p We've designed and built <i>[insert name here]</i> which is a simple but powerful data warehouse, reporting and analysis framework.
  
  %p 
    We built <i>[insert name here]</i> because we encountered a lot of businesses who got sticker shock over the price of commercial 
    business intelligence software, and for ourselves, because we got tired of muttering "If I had a data warehouse, I could solve this problem in a fraction 
    of the time it's taking me to do it in Cognos Framework Manager" under our breaths. 

  %p
    Today, the expensive data warehouse is a relic of the past. A decade ago, we would have sold you data transfer tools that would have cost you 
    tens of thousands of dollars in license fees alone. 
  
  %p 
    Our framework allows you to build only what you need, with no added fluff. It's also better than building from scratch, as our 
    framework's stack is built from 
    %a.popper{href: '#',
      'data-original-title' => 'Our Stack',
      'data-content' => '<ul><li>CentOS Linux<li>PostgreSQL<li>Scriptella (ETL)<li>Ruby on Rails<li>...</ul>'} proven, open source technologies.

  %p And the best part of our solution, is that your software licenses have <b>zero cost</b>. Yes, you read that right. Zero cost software. 
  
  %p 
    Because you are using open source software, there's no up front cost for the software. There's also no annual maintenance fees. And, if you 
    need to make a software upgrade, there's no charge for that either. If you want to plug in some software pieces that you've already paid for,
    that's okay too.
  
  %p <i>You only pay for the services work to build what you need.</i>
  
  %p 
    <i>[insert name here]</i> is built for companies that need 
    %a.popper{href: '#',
      'data-original-title' => 'Our Solution Includes',
      'data-content' => '<ul><li>a data warehouse<li>...</ul>'} a powerful reporting solution
    but without the huge costs required to just get a foot in the door.


  %p
    Check out the <i>[insert name here]</i> site for detailed information, or simply contact us for a demo.
      
.content-block
  .annotation.s
    :markdown
      # Goals for this section (delete when this section is considered complete)
      
      1. Mention that we have a project management solution -- addressed by header
      1. Explain what AITM is - i.e., a web app for x, y, z -- paragarph 2
      1. Why did we build it (pick two pain points -- costs and health visibility?) - paragraphs 1,3,4 -- cut down
      1. Mention that we use it ourselves as part of our process - paragraph 6
      1. Call to action - aitm site and contact -- last paragraph
      


  %h2 Struggling to rein in your projects? We've got something for that too.
  
  %p 
    After years of consulting, we still couldn't find an
    %a.popper{href: '#',
      'data-original-title' => 'Our Hodgepodge',
      'data-content' => '<ul><li>Excel<li>Word<li>Microsoft Project<li>Time Tracking System</ul>'} all encompassing     
    tool to run our projects well. Gantt charts and to-do lists only take you so far. 
    When you're running a consulting business, you need a good grasp of your costs and how <i>well</i> your projects are doing 
    and to please our customers at the level you want to.

  %p
    Assign it to me is a web-based, mobile friendly tool that helps consulting firms like ours run their projects profitably and successfully.


  %p 
    Not only that, it was making it harder to know if our projects were going to make or lose money.

  %p 
    So we took matters into our own hands, and created Assign It To Me. We used our background in analytics to develop a system that 
    [stuff about project health, spotting red flags, and integrating time and status?]

  %p
    We put our money where our mouth is, and we use Assign It To Me on all of 
    %a.popper{href: '#',
      'data-original-title' => 'Our Hodgepodge',
      'data-content' => "We want to do everything possible to make your services projects successful. For every customer that signs up for our services, we'll also sign them up for a free one-year subscription for X project managers to our project management app Assign It To Me (that's a ## savings). Use it to manage all you projects forever.  "} 
      our engagements.




  
  %p
    For more details, visit the
    %a{href: "http://assignittome.com"} Assign It To Me
    site, or just give us a shout.
