!!!
%html
  %head
    %title 
      == {{ page.title }}
    {% stylesheet app.css %}
    %script{src: "http://code.jquery.com/jquery-1.9.1.min.js"}

    {% javascript app %}
  %body.page
    %div{'data-role' => 'page'}
      %div#page-header{'data-role' => 'header'}    
        %div Company name and logo
        %div{'data-role' => 'navbar', 'data-grid' => 'd'}
          %ul
            %li
              %a{href: '/', class: '{% if page.tab == "home" %}ui-btn-active{% endif %}'} Home
            %li
              %a{href: '/solutions', class: '{% if page.tab == "solutions" %}ui-btn-active{% endif %}'} Solutions
            %li
              %a{href: '/products', class: '{% if page.tab == "products" %}ui-btn-active{% endif %}'} Products        
            %li
              %a{href: '/services', class: '{% if page.tab == "services" %}ui-btn-active{% endif %}'} Services        
            %li           
              %a{href: '/about', class: '{% if page.tab == "about" %}ui-btn-active{% endif %}'} About                             
      %div{'data-role' => 'content'}
        == {{ content }}
      %div#page-footer{'data-role' => 'footer'}        
        :markdown
          Footer content goes here
          


