!!!
%html
  %head
    %title 
      == {{ page.title }}
    %link{href: "http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css", rel: "stylesheet"}/

  %body.page
    %div{'data-role' => 'page'}
      %div{'data-role' => 'navbar', 'data-grid' => 'd'}
        %ul
          %li
            %a{href: '/', class: '{% if page.tab == "home" %}ui-btn-active{% endif %}'} Home
          %li
            %a{href: '/solutions', class: '{% if page.tab == "solutions" %}ui-btn-active{% endif %}'} Solutions
          %li
            %a{href: '/products', class: '{% if page.tab == "products" %}ui-btn-active{% endif %}'} Products        
          %li
            %a{href: '/services', class: '{% if page.tab == "services" %}ui-btn-active{% endif %}'} Services        
          %li           
            %a{href: '/about', class: '{% if page.tab == "about" %}ui-btn-active{% endif %}'} About                             
      %div{'data-role' => 'content'}
        == {{ content }}
      %div{'data-role' => 'footer'}        
        :markdown
          Footer content goes here
          

  %script{src: "http://code.jquery.com/jquery-1.9.1.min.js"}
  %script{src: "http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"} 
