---
layout: main
tab: services
title: Assign It To Us - Services
---

.annotation.s
  :markdown
    Steven's comments
    
.annotation.v
  :markdown
    Vince's comments    
    
%div
  :markdown
    
    <!--What is the purpose or core value for our product?-->
    # Experience and Knowledge for your Cognos Projects
    #### Professionals with years of business savvy
    #### Technical know-how for your hardware and software needs
    #### Managing Cognos projects for success and profitability 
    
    ## Our Services are for...
    <!--Limit to 3 points-->
    * Cognos projects that require skilled professionals
    * Companies using Cognos who need professional services to deliver effective reports and analytics
    * Companies looking for managers and developers that they can trust

    ## Why should I use Assign it to Us services?
    <!--Limit to 3 points--> 
    <!--link to list of idustries like public, auto, mfg, legal...link to business segments like research, finance, marketing mfg, hr etc--> 
    * You need Cognos professionals who deliver quality work
    * Our professionals have experience across many industries and business segments. 
    * AITU offers reasonable rates that won't "balloon" your project budget         

    ## Some Headlines
    <!--These points are the Assign it to Us mantra and should be repeated often-->  
    * Partners in your business success
    * The know-how for your Cognos projects
    * We know how to merge the "business" and the "technology" for better decisions
    * The best professional services for the best decisions
    * Professionals with years of experience
    * We care about how your reporting solution impacts the "bottom line"
    * Our Professionals are not satisfied with adequate solutions...they look for the best solutions

    ## Who's using Assign It To Us?
    <!-- Limit any videos or podcasts to 2 minutes-->
    * Success stories List some of the successful projects we worked on. e.g TGLN,BICL,ESDW,ESAB,BURG, CMS Customers,
    * Quotes and testimonials
    * Word of mouth - embed a video of a customer or partner endorsing our services
    * Link to Podcast of Vince & Steven with customer
    * Diagram or picture of a business scenario of a customer using our services
    
    ## What services do we offer?
    <!--Limit list to 3 items-->
    * Cognos Development Services. Installation and software development 
    * Data Warehousing, Corporate Reporting and Analytics
    * Project Management
    (Add more detailed info for each item and include it in a downloadable PDF. Additional info could include some features and use cases)
    
      
    ## Overview-Assign it To Us Services
     
    
    Explain why our services are better than the rest    

    
  
