---
layout: main
tab: about
title: Assign It To Us - About
---
%div
  :markdown
  
  # About
  
  ### Company History
  
  Formed in 2012, Assign It To Us Technologies Inc. was founded by Vince Iarusci and Steven Ng, two technology professionals who spent several years working together in the field of business intelligence. Steven and Vince use their combined 40 ( 21 vince + 19 steven) years of business and technology experience to build data solutions that give their clients better insights into their businesses. 
  
  Steven and Vince have built and deployed solutions across multiple industries including but not limited to manufacturing, health care, education, real estate and automotive. 
  
  Assign It To Us is committed to building thoughtful and carefully considered solutions for our customers. While we have preferred technologies for building our solutions, we are technology agnostic and have no interest in promoting solutions that don't suit our customers' needs.
  
  If you need to make sense of your business data but don't know how, assign it to us, and we'll make sure that you get a solution that's not only effective, but one that's affordable as well.
  
  #### Founders
  
  Vince - 1-2 paragraph bio + photo
  
  [[photo]]
  
  paragraph 1
  
  paragraph 2
  
  [[link to vcard]]
  [Linked-In Profile](http://www.linkedin.com/in/assignittome)
  
  
  Steven 1-2 paragraph bio + photo
  
  [[photo]]
  
  paragraph 1
  
  paragraph 2
  
  [[link to vcard]]
  [Linked-In Profile](http://www.linkedin.com/in/stevenhng)  