---
layout: main
tab: about
title: Assign It To Us - About
---
    
      
%h1 About
  
%div
  <!-- Steven -->
  
  <!-- hero block, this is where the "who are we?" primary value statement is -->
  
  %h1 We are a full-stack, full-service provider of business analytics solutions.    

  <!-- end hero block -->
<!-- todo: make this grid responsive -->    
%div.ui-grid-b
  .ui-block-a
    :markdown
      <!-- sell/value point 1 -->
      ## We are good with numbers. 
      ##Really good, in fact.
      
      Our bread and butter is in data warehousing and reporting.   We've spent a good part of the last decade delivering and customizing large 
      enterprise solutions for businesses of all sizes. Much of that time was spent pushing IBM Cognos products to their limits. But we're not 
      just Cognos guys. We're technology agnostic, and huge fans of open source software. We also write code.
      
      If you choose to go with a custom solution with us, you get a data warehouse from the get go. Instead of using some meta-tool like a 
      "framework manager" and having to tweak it to make it give you the proper results quickly, we do direct transformation of your data in 
      a data warehouse. This is faster, more maintainable, and more reliable. It's also cheaper to develop, believe it or not.
  
      After spending years of working with uncompromising enterprise software designed to sell instead of perform, we wanted to stop muttering 
      under our breath "I could write this from scratch faster than I could using this tool".
      
      A good portion of our competitors tend to only know the tools they sell, and they're usually hammers. When you're a hammer, everything 
      looks like a nail. In the real world, however, there's a saying "just because you can doesn't mean you should". Making a software tool 
      do something that is not one of its core competencies is like ramming a square block into a round hole. You can do it with a lot of work, 
      but it's usually not a sustainable long term solution.    
  
  .ui-block-b
    :markdown
      <!-- sell/value point 2 -->
      ## We work smart, and eat our own dogfood.
  
      Many of our competitors like to tell you about their methodologies and best practices in hopes that you'll think that there's 
      a direct relationship to quality. Sadly, there isn't. More often than not, the people delivering your solution don't follow 
      the methodologies that were sold to you in your vetting cycle. 
      
      Our way of working is pretty simple. We design, we prototype, we iterate and we automate.
      
      What about documentation and testing? Well, as we said, we like to work smart. For our non-Cognos projects, we have automated 
      documentation built from our code. For testing, we design and automate tests where appropriate. 
      
      What about managing estimates and project scope? After years of failing to find an off-the-shelf solution to our project management 
      needs, we created our own. 
      
      *some more text about aitm*
  .ui-block-c
    :markdown
      <!-- sell/value point 3 -->
      ## We care about your money.
   
      Okay, we admit it. We care about money. We watch our money with an eagle eye, and we think you should watch yours too. 
      
      We won't lowball our estimates to win your business in hopes that we'll make the money back in overages. We don't give you overblown 
      fixed price estimates for small amounts of work. Yes, we charge for our time, but our estimates, which sometimes seem large at first, 
      are reasonable and based off decades of experience delivering services. We are extremely transparent in the way we execute projects, 
      and you will know about any cost impacts, negative or positive, as soon as we know them.
      
      While we'll gladly help you deploy an expensive Cognos business intelligence solution, we can also build you a custom solution for 
      much less money. Using established, industrial open-source tools, we can free you from the burden of huge up-front license costs as 
      well as annual maintenance costs. If you want paid support for the tools we use, most of our toolchain providers have this as an option.
   
      For the same services costs that you'd pay with a major business intelligence solution, we can usually build you a custom solution that 
      is specifically tailored to the needs of your business. When you factor the costs of licenses and maintenance that you'd avoid, it can 
      easily be tens to hundreds of thousands of dollars. That's not chump change.



  
%h2 Company History
  
:markdown

  Formed in 2012, Assign It To Us Technologies Inc. was founded by Vince Iarusci and Steven Ng, two technology professionals who spent several years working together in the field of business intelligence. Steven and Vince use their combined 40 ( 21 vince + 19 steven) years of business and technology experience to build data solutions that give their clients better insights into their businesses. 
  
  Steven and Vince have built and deployed solutions across multiple industries including but not limited to manufacturing, health care, education, real estate and automotive. 
  
  Assign It To Us is committed to building thoughtful and carefully considered solutions for our customers. While we have preferred technologies for building our solutions, we are technology agnostic and have no interest in promoting solutions that don't suit our customers' needs.
  
  If you need to make sense of your business data but don't know how, assign it to us, and we'll make sure that you get a solution that's not only effective, but one that's affordable as well.
    
%h2 Founders
  
%div.ui-grid-a
  %div.ui-block-a
    %h3 Vince Iarusci
    
    :markdown
      Vince - 1-2 paragraph bio + photo
      
      [[photo]]
      
      paragraph 1
      
      paragraph 2
      
      [[link to vcard]]
      [Linked-In Profile](http://www.linkedin.com/in/assignittome)      
  %div.ui-block-b
    %h3 Steven Ng

    :markdown        
    
      Steven 1-2 paragraph bio + photo
      
      [[photo]]
      
      paragraph 1
      
      paragraph 2
      
      [[link to vcard]]
      [Linked-In Profile](http://www.linkedin.com/in/stevenhng)  
  
    
    