---
layout: main
tab: solutions
title: Assign It To Us - Solutions
---
%div
  .annotation.s
    :markdown
      Note that the styling and js logic are just roughed in. There's a lot of polish to be done.
      
      This is just a proof of concept.
      
      In the actual popup we should have a 'fine print' tab with a bunch of disclaimer bullet points.      

%div                   
  :markdown
  
    <!-- Vince -->
    
    <!--What is the purpose or core value for our product?-->
    # BI TOOL TO BE NAMED Creates Better Business Managers
    #### TOOL creates smarter managers
    #### TOOL creates better businesses
    #### TOOL makes businesses more profitable

    #### Some demos
    * Chef doing it's thing
    * Build of DB and reports
    * UI Dashboards and reports     
    [DEMO SITE](http://localhost:85/)
    
    ## Our Solutions are for...
    <!--Limit to 3 points-->
    * Small to midsize companies that want a powerful Enterprise Decision system without the Enterprise price.
    * Small to midsize companies that don't have the in-house skills to develop, support and train employees to use the overly sophisticated software sold by the mega BI companies.
    * Small to midsize companies that need information deliovered automatically. Our managers say..."Please don't let me spend all my time looking for answers.  They should just be there."
    * Small to midsize companies that want a system that is easily maintainable. Our managers say..."I don't have time during the day to search for fixes to problems I'm having with my software."

    ## Why should I use THE TOOL?...
    <!--Limit to 3 points-->  
    * You need insightful information to make timely and accurate decisions
    * You need to run an effective business and be competative
    * You're a company on a tight budget         

    ## Some Headlines
    <!--These points are the AITU mantra and should be repeated often-->  
    * AITU...we're partners in your business success.
    * Delivering Data Solutions for every company of every size.
    * Using affordable technology to deliver a simple but powerful reporting solution.
    * Decisions based on what you know, not what you think you know.
    * BI TOOL is the tool to use when you need to focus on the data, not how to get the data
    * You don't need Bells and Whistles for your reportsing...You need a state of Zen and Focus
    * Bells, whistles and wizzy charts doesn't help you with your decision making.  BI TOOL has what matters most, a focus on your data.
    * We're the "Buckley's" of BI

    ## Who's using the BI TOOL TO BE NAMED?
    <!-- Limit any videos or podcasts to 2 minutes-->
    * Success stories
    * Quotes and testimonials
    * Word of mouth - embed a video of a customer or partner endorsing BI TOOL
    * Link to Podcast of Vince & Steven with customer
    * Diagram or picture of a business scenario of a customer using our tool
    
    ## What is BI TOOL
    <!--Limit list to 3 items-->
    * Tool to combine all your data assests 
    * Centralized Decision Support System
    * Free Reporting and analysis software for your decisions
    (Add more detailed info for each item and include it in a downloadable PDF. Additional info could include the technology used like open source software, VMs, availability as an appliance, uatomation blah blah blah)
    

    <!-- Steven -->
  
    ## Overview-Option-A
    
    After years of delivering IBM Cognos solutions, we noticed a pattern with our interactions with prospective and 
    existing customers. 
    
    *go on about common pain points like:*
    
    * Having to spend a lot of time hacking Cognos to do something relatively simple would take much longer than coding something from scratch
    * It was hard to convince prospective customers about the value of spending 5 to 6 figures on the infrastructure and software portion of a bi solution
    * Hard to find good people to work on Cognos
    * Once people at customers trained up on Cognos, they'd leave for greener pastures
    * A lot of Cognos people only know Cognos, which resulted in sub-optimal solutions
    * We figured out how to fix a lot of problems before Cognos support did
    * Cognos offered limited automation for deployment
    * You have to pay extra for developer and staging licenses
    * Reuse of code etc. is very hard with Cognos stuff
    * While some think they will get trained and create and design their own content, in practice, a high percentage, maybe 80% do not
    * Upgrading enterprise software often broke my solution
    * Dealing with IBM support was like drinking from a firehose
    * Was I getting the right solution when I bought IBM software.  Case in point..Realstar

    
    ## Overview-Option-B
    
    After years of using Cognos, we realized that it would sometimes be faster to build something from scratch than to use 
    Cognos' built-in functionality. While Cognos is a good tool, it is designed to be "adequate at everything" but not great at 
    any one particular thing. 
    
    Time and time again, we would encounter edge cases that were difficult to develop using Cognos' built-in functionality. 
    The problems themselves tended to be relatively simple, but were time consuming to implement "the Cognos Way".
    
    This was a seminal moment for our product. We realized that the state of open source tools in the analytics world had 
    matured to the point where they could be used in production. We familiarized ourselves with various tools and languages 
    to be able to make a framework for building custom business intelligence solutions quickly.
    
    We call it... *insert name here*
    
    ## The Stack   
      
    The way we've designed our stack, and all of our solutions, for that matter, is to separate responsibilities of each 
    part of the solution. *this is badly worded* 
        
    By isolating the activities that each part of the stack can do, we ensure that the solution is more maintainable and..
    
    ## Benefits
    
    Elevator Pitch - We help companies by empowering managers to make better decisions using streamlined solutions.
    
    Image of our stack or a link to an image of our stack that launches a modal or additional page. 
   
   
  %div
    %h1 Enter Estimate Here
    
    .form
      .field
        %label{for: 'vendor-os'} Operating System Licenses
        %input#vendor-os{type: 'text', name: 'vendor-os', value: '100,000'}
      .field
        %label{for: 'vendor-db'} Database Licenses
        %input#vendor-db{type: 'text', name: 'vendor-db', value: '100,000'}                
      .field
        %label{for: 'vendor-bi'} BI Software Licenses
        %input#vendor-bi{type: 'text', name: 'vendor-bi', value: '100,000'}
      .field
        %label{for: 'vendor-services'} Services
        %input#vendor-services{type: 'text', name: 'vendor-services', value: '100,000'}    
      .field
        %button#calculate-button.ui-shadow.ui-btn.ui-corner-all Calculate Your Savings              
    
%div#cost-report{'data-role'=>'popup'}
  %div{'data-role' => 'header'}
    Ballpark Cost Comparison
  %div{'data-role' => 'content'}
  
    %table#comparison
      %tr
        %th &nbsp;
        %th Competitor Estimate
        %th Our Estimate    
      %tr
        %td OS Licenses
        %td.r.os-licenses
        %td.r 0
      %tr
        %td DB Licenses        
        %td.r.db-licenses
        %td.r 0
      %tr
        %td BI Licenses      
        %td.r.bi-licenses
        %td.r 0
      %tr
        %td Services      
        %td.r.services
        %td.r.services       
      %tr
        %td Total
        %td.r.vendor-total
        %td.r.our-total
      %tr
        %td Savings     
        %td.r 0
        %td.r.savings
        

  %div{'data-role' => 'footer'}
    %button#close-button.ui-shadow.ui-btn.ui-corner-all Close      
:coffeescript 
  cost_report = $("#cost-report")
  $("#calculate-button").click ()->
  
    os_cost = $("#vendor-os").val().toNumber()
    db_cost = $("#vendor-db").val().toNumber()
    bi_cost = $("#vendor-bi").val().toNumber()
    services_cost = $("#vendor-services").val().toNumber()
  
    total = os_cost + db_cost + bi_cost + services_cost  
    savings = os_cost + db_cost + bi_cost
  
    
    cost_report.find(".os-licenses").text os_cost.format(0,',','.')
    cost_report.find(".db-licenses").text db_cost.format(0,',','.')
    cost_report.find(".bi-licenses").text bi_cost.format(0,',','.')
    cost_report.find(".services").text services_cost.format(0,',','.')
    cost_report.find(".vendor-total").text total.format(0,',','.')
    cost_report.find(".our-total").text services_cost.format(0,',','.')
    cost_report.find(".savings").text savings.format(0,',','.')    
    cost_report.popup "open"
    
    
  $("#close-button").click ()->
    cost_report.popup "close"
    
.annotation.v
  :markdown
    The Estimate calciulator works well. Do we also include training costs?      