---
layout: main
tab: solutions
title: Assign It To Us - Solutions
---
%div
  :markdown
  
  # BI TOOL TO BE NAMED
  
  <!-- Steven -->

  ## Cost Calculator Tool Goes Here
  
  ## Overview
  
  After years of using Cognos, we realized that it would sometimes be faster to build something from scratch than to use 
  Cognos' built-in functionality. While Cognos is a good tool, it is designed to be good at everything but not great at 
  any one particular thing. 
  
  Time and time again, we would encounter edge cases that were difficult to develop using Cognos' built-in functionality. 
  The problems themselves tended to be relatively simple, but were time consuming to implement "the Cognos Way".
  
  This was a seminal moment for our product. We realized that the state of open source tools in the analytics world had 
  matured to the point where they could be used in production. We familiarized ourselves with various tools and languages 
  to be able to make a framework for building custom business intelligence solutions quickly.
  
  We call it... *insert name here*
  
  ## The Stack
  
  
  
  ## Benefits
  
  
