---
layout: main
tab: products
title: Assign It To Us - Products
---
%div
  :markdown
  
    <!-- Vince -->
    
    <!--What is the purpose or core value for our product?-->
    # Assign It To Me Creates Better Business Managers
    #### Assign It To Me 
    #### Assign It To Me 
    #### Assign It To Me 

    #### Some demos
    * Demos    
    [DEMO SITE](https://dominus.assign-it-to-me.com/)
    
    ## Assign It To Me is for...
    <!--Limit to 3 points-->
    * Targeted to...
    * Targeted to...
    * Targeted to...

    ## Why should I use Assign It To Me?
    <!--Limit to 3 points-->  
    * Why?
    * Why?
    * Why?         

    ## Some Headlines
    <!--These points are the Assign it to Me mantra and should be repeated often-->  
    * Headline
    * Headline
    * Headline.
    * Headline.
    * Headline
    * Headline
    * Headline.
    * Headline

    ## Who's using Assign It To Me?
    <!-- Limit any videos or podcasts to 2 minutes-->
    * Success stories
    * Quotes and testimonials
    * Word of mouth - embed a video of a customer or partner endorsing BI TOOL
    * Link to Podcast of Vince & Steven with customer
    * Diagram or picture of a business scenario of a customer using our tool
    
    ## What is Assign It To Me?
    <!--Limit list to 3 items-->
    * What? 
    * What?
    * What?
    (Add more detailed info for each item and include it in a downloadable PDF. Additional info could include some features and use cases)
    
      
    ## Overview-Assign it To Me
    
    Explain why other Project management tools suck    
    
    Explain why our product doesn't suck and is better than the rest    

    More often than not, we find existing software solutions to be a little lacking for our business requirements. So what do we do? We roll our own solutions and eat our own dogfood. But we're not selfish types, so as we build our solutions, we design them to be hosted applications that other businesses like us can use also.
  
    We have a web application called Assign It To Me.
  
    We also sell Dominus, the engine that powers Assign It To Me. 
       
    
    ### Assign It To Me
    
    Assign It To Me might look like a project management tool on the surface, but it's much deeper than that. In our previous lives, we've had to deal with a hodge podge of applications to handle project management, time keeping and status reporting. And even with those applications, it required even more work to keep an eye on how the company was doing as a whole.
    
    Well, we got tired of the status quo and decided to build a solution from the ground up. Unlike other "project management" solutions, however, we didn't want to build an overglorified to do list. Our background is in analytics. If we're going to build a system, we?re going to use the data from the system to give our users insight.
    
    'Lo and behold, Assign It To Me was born. Currently in alpha, Assign It To Me is an analytics driven tool for services companies. Yes, it helps you run your projects, but it also gives you a bigger picture view and helps you manage the profitability of your consulting shop   
  
    For more details, visit the [assign it to me site](http://assignittome.com).
    
  
.annotation.s
  :markdown
    Steven's comments
    
.annotation.v
  :markdown
    Vince's comments    
    