---
layout: main
tab: products
title: Assign It To Us - Products
---
%div
  :markdown
  
  
    # Products
  
    <!-- Vince -->
      
    More often than not, we find existing software solutions to be a little lacking for our business requirements. So what do we do? We roll our own solutions and eat our own dogfood. But we're not selfish types, so as we build our solutions, we design them to be hosted applications that other businesses like us can use also.
  
    We have a web application called Assign It To Me.
  
    We also sell Dominus, the engine that powers Assign It To Me. 
       
    
    ### Assign It To Me
    
    Assign It To Me might look like a project management tool on the surface, but it's much deeper than that. In our previous lives, we've had to deal with a hodge podge of applications to handle project management, time keeping and status reporting. And even with those applications, it required even more work to keep an eye on how the company was doing as a whole.
    
    Well, we got tired of the status quo and decided to build a solution from the ground up. Unlike other "project management" solutions, however, we didn't want to build an overglorified to do list. Our background is in analytics. If we're going to build a system, we?re going to use the data from the system to give our users insight.
    
    'Lo and behold, Assign It To Me was born. Currently in alpha, Assign It To Me is an analytics driven tool for services companies. Yes, it helps you run your projects, but it also gives you a bigger picture view and helps you manage the profitability of your consulting shop   
  
    For more details, visit the [assign it to me site](http://assignittome.com).
    
    <!-- sn: we may want to de-emphasize this product for now. it is in a state that would require a lot of work to get working -->
    ### Dominus    
  
    Dominus is a Ruby-on-Rails plus Postgresql based web application engine. It supports multi-tenant access, and comes with a basic user interface. We sell this as a source-code only product with optional support. We also use it as the basis for any custom web applications for clients.
  
    <!-- Steven -->
    
    