---
layout: main
tab: products
title: Assign It To Us - Products
---
.annotation.s
  :markdown
    Perhaps we have one headline and one paragraph only for this page and put all the content below into the onboarding page for assign-it-to-ME.
    
    Another idea:
    
    Merge solutions, products and services into a "What We Do" page.
    
    This What We Do Page would be:
    
    1. Heading and 1 Paragraph description of AITM
    2. Heading and multi-paragraph description of the BI solution, but high level. We can put links to PDFs or Google Docs for greater detail.
    3. Heading and a couple of paragraphs on the services we do (mostly cognos, and maybe a sentence that says we're willing to build a custom enterprise app)

    *Vince* - for merging the pages (maybe we include About) - what do you think? (yes/no)


%div

  :markdown
  
    <!-- Vince -->
    
    <!--What is the purpose or core value for our product?-->
    # Delivering Profitable Projects, On Time and On Budget
    #### Assign It To Me 
    #### Assign It To Me 
    #### Assign It To Me 

    #### Some demos
    * Demos    
    [DEMO SITE](https://dominus.assign-it-to-me.com/)
    
    ## Assign It To Me is for...
    <!--Limit to 3 points-->
    * Project Teams that need an easy way to Manage, Control and Track your projects.
    * Managers that need to get work done on time and on budget
    * Companies that need to deliver profitable projects

    ## Why should I use Assign It To Me?
    <!--Limit to 3 points-->  
    * [One Stop Shopping](https://docs.google.com/a/iarusci.com/document/d/1RaWX7fBoeykp_M1sbyYps_utZCSDZlDh_6maIi1Zr6k/edit)
    * [Eliminate Timesheet Dread](https://docs.google.com/a/iarusci.com/document/d/1RaWX7fBoeykp_M1sbyYps_utZCSDZlDh_6maIi1Zr6k/edit)
    * [No Infrastructure Reqired](https://docs.google.com/a/iarusci.com/document/d/1RaWX7fBoeykp_M1sbyYps_utZCSDZlDh_6maIi1Zr6k/edit)       

    ## Some Headlines
    <!--These points are the Assign it to Me mantra and should be repeated often-->  
    * Focus on what matters - Spend less time on status reporting and more time making your customers happy.
    * Project control with Real Time In-Line Analytics - Effective project management is hard. We overthink project management so you don't have to.
    * A professional PM assistant without the high priced fees - Effective project management is hard. We overthink project management so you don't have to.
    * Helping the Best Project Managers to Deliver Successful Projects - Project control designed for the project professional
    * The Simple Way to Organize your Tasks and Projects - All your project management tools rolled into one easy to use project control system
    * Easily Track Your Projects and Tasks - See your project with powerful analytics
    * Helping Your Team Meet Your Project Goals - Project planning and management for success
    * The Collaborative Project Tool to Manage your Work - Projects change every day.  Your team and clients shouldn't be left in the "dark". 
    * Manage your Project not your Project Software - Effectively and quickly resolve project and user problems by focusing on the work instead of administrivia.
    * Helping You Spend Time on Your Project not Your Project Administration - Effectively and quickly resolve project and user problems by focusing on the work instead of administrivia.
    * Reduce Project Administration so You Can Focus on Project Success - Effectively and quickly resolve project and user problems by focusing on the work instead of administrivia.

    ## Who's using Assign It To Me?
    <!-- Limit any videos or podcasts to 2 minutes-->
    * Success stories
    * [Quotes and testimonials](https://docs.google.com/a/iarusci.com/document/d/1ogS2anrQOegUdBlS1MctEx-sXULQd1FWMOfAn9E953c/edit)
    * Word of mouth - embed a video of a customer or partner endorsing BI TOOL
    * Link to Podcast of Vince & Steven with customer
    * Diagram or picture of a business scenario of a customer using our tool
    
    ## What is Assign It To Me?
    <!--Limit list to 3 items-->
    * One Stop Shopping.Using separate apps for project management and timekeeping just doesn't make sense. You manage all your project tasks with one tool.
    * What?
    * What?
    (Add more detailed info for each item and include it in a downloadable PDF. Additional info could include some features and use cases)
    
      
    ## Overview-Assign it To Me
    
    Explain why other Project management tools suck    
    
    Explain why our product doesn't suck and is better than the rest    

    More often than not, we find existing software solutions to be a little lacking for our business requirements. So what do we do? We roll our own solutions and eat our own dogfood. But we're not selfish types, so as we build our solutions, we design them to be hosted applications that other businesses like us can use also.
  
    We have a web application called Assign It To Me.
  
    We also sell Dominus, the engine that powers Assign It To Me. 
       
    
    ### Assign It To Me
    
    Assign It To Me might look like a project management tool on the surface, but it's much deeper than that. In our previous lives, we've had to deal with a hodge podge of applications to handle project management, time keeping and status reporting. And even with those applications, it required even more work to keep an eye on how the company was doing as a whole.
    
    Well, we got tired of the status quo and decided to build a solution from the ground up. Unlike other "project management" solutions, however, we didn't want to build an overglorified to do list. Our background is in analytics. If we're going to build a system, we?re going to use the data from the system to give our users insight.
    
    'Lo and behold, Assign It To Me was born. Currently in alpha, Assign It To Me is an analytics driven tool for services companies. Yes, it helps you run your projects, but it also gives you a bigger picture view and helps you manage the profitability of your consulting shop   
  
    For more details, visit the [assign it to me site](http://assignittome.com).
    
  
.annotation.s
  :markdown
    Steven's comments
    
.annotation.v
  :markdown
    Vince's comments    
    