

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  margin: 0px;

}

/* PAGE */
.page {
  margin: 0px;
  padding: 0px;

  
}


/* COMMON STYLES */

h1, h2, h3 {
  font-weight: normal;
  text-transform: uppercase;
  /* margin: 0px; */
}


/* MARKUP STYLES FOR CONTENT AUTHORS */

span.needs-work {
  background: yellow;
  color: black;
}
span.rewrite {
  background: red;
}

/* Pages are 'logical' pages on the site within the single page view
 i.e., they take up approximately one screen height of real estate
*/

.jumbotron h2 {
    text-transform: none;
}


/* FLAT UI COLORS - REPLACE THESE */
.flat-wet-asphalt {
  background: #34495e;
}

.flat-midnight-blue {
  background: #2c3e50;
}

.flat-concrete {
  background: #95a5a6;  
  
}
.flat-asbestos {
  background: #7f8c8d;  
  
}
.flat-clouds {
  background: #ecf0f1;  
  
}
.flat-silver {
  background: #bdc3c7;  
  
}
.flat-wisteria {
  background: #8e44ad;  
  
}
.flat-belize-hole {
  background: #2980b9;  
  
}
.flat-nephritis {
  background: #27ae60;  
  
}

.flat-pomegranate {
  background: #c0392b;  
  
}

.flat-aitu-blue {
  background: #34495e;  
  
}

.flat-aitu-orange {
  background: #d35400;  
  
}

.tooltiptext {
  display: none;
}
/* TEXT COLOR */

.text-white {
  color: white;
}
.text-white a, a:visited, a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}


a.tip {
  text-decoration: none;
  border-bottom: 2px dotted white;
}

.p {
  margin: 24px 0px;
  
}

/* ANCHOR BOOKMARK */

a.bookmark {
  margin: 0px;
  padding: 0px;
  border: none;
}


/* RESPONSIVE STYLES */

@media screen and (max-width: 480px) {
.jumbotron, .call-to-action, .detail {
  padding: 30px;
}
  .jumbotron h1 {
    font-size: 24px;
    
    
  }
  .jumbotron h2, .detail h1 , .call-to-action h1, .call-to-action p {
    font-size: 18px;
  }  
  .detail p {
    font-size: 14px;
  }         
  .jumbotron img {
    width: 150px;
    height: 34px;
  }

}
@media screen and (min-width: 481px) and (max-width: 720px) {
  .jumbotron, .call-to-action, .detail {
    padding: 40px;
  }
  .jumbotron h1 {
    font-size: 36px;
    
    
  }
  .jumbotron h2, .detail h1, .call-to-action h1, .call-to-action p {
    font-size: 24px;
  }    
  .detail p {
    font-size: 18px;
  }  
  .jumbotron img {
    width: 240px;
    height: 54px;
  }  
}

@media screen and (min-width: 721px) {
  .jumbotron, .call-to-action, .detail {
    padding: 60px;
  }   
  .jumbotron h1 {
    font-size: 48px;
    
    
  }
  .jumbotron h2, .detail h1, .call-to-action h1, .call-to-action p {
    font-size: 42px;
  }      
  
  .detail p, .p {
    font-size: 24px;
  }
  .jumbotron img {
    width: 344px;
    height: 78px;
  }  

}

.tooltiptext h1 {
  font-size: 12px;
  font-weight: bolder;
}


ul.unstyled {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
