@import url("http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,400italic,300");

html, body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
body {
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal !important;
}

.ui-content {
  padding: 0px;
}

.ui-link {
  color: white;  
  font-family: "Lato", Helvetica, Arial, sans-serif;
  
}


.home-block {


  color: white;  
}

.home-block a, .home-block a:visited, .home-block a:hover {
  color: white;
  border-bottom: 2px dotted white;
  text-decoration: none;
}

.bg-belize {
  background: #2980b9;

}
.bg-peter {
  background: #3498db;
}
.bg-nephritis {
  background: #27ae60; 
}
.bg-wisteria {
  background: #8e44ad;
}
.hide {
  display: none;
}

#page-footer {
  background: #2c3e50;
  color: #ecf0f1;
  text-shadow: none;
  padding: 15px;
}

td.r {
  text-align: right;
}

.annotation.s {
  background: #f1c40f;
  border: 1px solid #e67e22;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
}

.annotation.v {
  background: #3498db;
  border: 1px solid #2980b9;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  color: white;
  text-shadow: none;
}

@media screen and (min-width: 320px) {
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 18px; line-height: 30px; }
h3, .h3 { font-size: 12px; }
h4, .h4 { font-size: 10px; }
h5, .h5 { font-size: 10px; }
h6, .h6 { font-size: 10px; } 
.home-block {
    padding: 30px;
}
}

@media screen and (min-width: 480px) {
h1, .h1 { font-size: 48px; }
h2, .h2 { font-size: 24px; line-height: 36px; }
h3, .h3 { font-size: 18px; }
h4, .h4 { font-size: 14px; }
h5, .h5 { font-size: 12px; }
h6, .h6 { font-size: 12px; } 
.home-block {
    padding: 60px;
}
}


@media screen and (min-width: 768px) {
h1, .h1 { font-size: 62px; }
h2, .h2 { font-size: 36px; line-height: 48px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 12px; }
h6, .h6 { font-size: 12px; } 
.home-block {
    padding: 80px;
}
}

