<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ page.title }}
    </title>
  </head>
  <body class='page'>
    <div id='navigator'>
      <ul>
        <li>
          <a href='/'>Home</a>
        </li>
        <li>
          <a href='/solutions'>Solutions</a>
        </li>
        <li>
          <a href='/products'>Products</a>
        </li>
        <li>
          <a href='/services'>Services</a>
        </li>
        <li>
          <a href='/about'>About</a>
        </li>
      </ul>
    </div>
    <div class='container' id='content'>
      {{ content }}
    </div>
  </body>
</html>
