<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ page.title }}
    </title>
    <link href='http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css' rel='stylesheet'>
    {% stylesheet app.css %}
    <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
    <script>
      (function() {
        $(document).bind("mobileinit", function() {
          $.mobile.ajaxEnabled = false;
          $.mobile.linkBindingEnabled = false;
          $.mobile.hashListeningEnabled = false;
          return $.mobile.pushStateEnabled = false;
        });
      
      }).call(this);
    </script>
    <script src='http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js'></script>
    {% javascript app %}
  </head>
  <body class='page'>
    <div data-role='page'>
      <div data-grid='d' data-role='navbar'>
        <ul>
          <li>
            <a class='{% if page.tab == "home" %}ui-btn-active{% endif %}' href='/'>Home</a>
          </li>
          <li>
            <a class='{% if page.tab == "solutions" %}ui-btn-active{% endif %}' href='/solutions'>Solutions</a>
          </li>
          <li>
            <a class='{% if page.tab == "products" %}ui-btn-active{% endif %}' href='/products'>Products</a>
          </li>
          <li>
            <a class='{% if page.tab == "services" %}ui-btn-active{% endif %}' href='/services'>Services</a>
          </li>
          <li>
            <a class='{% if page.tab == "about" %}ui-btn-active{% endif %}' href='/about'>About</a>
          </li>
        </ul>
      </div>
      <div data-role='content'>
        {{ content }}
      </div>
      <div data-role='footer'>
        <p>Footer content goes here</p>
      </div>
    </div>
  </body>
</html>
